{% extends 'main/layout.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="wrapper">
        <form method="post" class="news-form">
        {% csrf_token %}
            <div>
                <label for="title">Enter title</label>
                {{ form.title }}
            </div>
            <div>
                <label for="text">Enter text</label>
                {{ form.full_text }}
            </div>
            <button class="btn" type="submit">Submit</button>
            <span>{{ error }}</span>
        </form>
    </div>
{% endblock %}
