{% extends 'main/layout.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="wrapper">
        <h1 class="h1">Feedback</h1>
        {% if feedback %}
            <div class="feedback container">
                {% for el in feedback %}
                <div class="elem">
                    <h3>{{ el.title }}</h3>
                    <p><i>Author: </i>{{ el.user_name }}</p>
                    <p>{{ el.full_text }}</p>
                    <p><i>Date: </i>{{ el.date }}</p>
                </div>
                {% endfor %}
        {% else %}
            <p>You have no notes</p>
            </div>
        {% endif %}
    </div>

    <div class="wrapper">
        <h2 class="h2">Make us know</h2>
        <form method="post" class="news-form">
            {% csrf_token %}
            {{ form.title }}
            {{ form.user_name }}
            {{ form.full_text }}
            {{ form.date }}
            <button class="btn" type="submit">Submit</button>
            <span>{{ error }}</span>
        </form>
    </div>
</div>
{% endblock %}
