{% extends 'main/layout.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="wrapper">
        <h1 class="h1">Feedback</h1>
        {% if feedback %}
            <div class="feedback container">
                {% for el in feedback %}
                <div class="elem">
                    <div class="inline">
                        <img src="{{ el.author.image.url }}" alt="" class="user_avatar">
                        <h4>{{ el.author.username }}</h4>
                        <h4 class="date">{{ el.date }}</h4>
                    </div>
                    <a href='{% url "feedback_details" el.id %}'><h3>{{ el.title }}</h3></a>
                    <p>{{ el.full_text }}</p>
                </div>
                {% endfor %}
        {% else %}
            <p>You have no notes</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
