{% extends 'main/layout.html' %}
{% load static %}
{% block title %}{{ feedback.title }}{% endblock %}

{% block content %}
    <div class="wrapper">
        <h1 class="h1">{{ feedback.title }}</h1>
        <div class="news--details">
            <p>{{ feedback.date }}</p>
            <p>{{ feedback.user_name }}</p>
            <p>{{ feedback.full_text }}</p>
            <a href="{% url 'feedback_index' %}">Go to feedback page</a><br><br><br>
            <a href="{% url 'feedback_update' feedback.id %}" class="btn">Update</a>
            <a href="{% url 'feedback_delete' feedback.id %}" class="btn">Delete</a>
        </div>
    </div>
{% endblock %}
