{% extends 'main/layout.html' %}
{% load static %}
{% block title %}{{ feedback.title }}{% endblock %}

{% block content %}
    <div class="wrapper">
        <h2 class="h2">{{ feedback.title }}</h2>
        <div class="feedback--details container">
            <div class="elem">
                <div class="inline">
                    <h3>{{ feedback.author.username }}</h3>
                    <p class="date">{{ feedback.date }}</p>
                </div>
                <p class="full_text">{{ feedback.full_text }}</p><br><br>
                {% if user.is_superuser %}
                <a href="{% url 'feedback_update' feedback.id %}" class="btn">Update</a>
                <a href="{% url 'feedback_delete' feedback.id %}" class="btn">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
