{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <script src="https://kit.fontawesome.com/df8e014d3f.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header1">
        <header class="container">
            <span><a href="{% url 'index' %}"><img src="{% static 'main/img/Logo.png' %}" alt="" class="img-svg"></a></span>
            <nav>
                <button class="menu-btn">Menu</button>
                <ul class="menu">
                    <li class="{% if title == 'Main Page' %}active{% endif %} hover"><a href="{% url 'index' %}" class="nav-a">Main</a></li>
                    <li class="{% if title == 'News Page' %}active{% endif %} hover"><a href="{% url 'news_index' %}" class="nav-a">News</a></li>
                    <li class="{% if title == 'Feedback Page' %}active{% endif %} hover"><a href="{% url 'feedback_index' %}" class="nav-a">Feedback</a></li>
                    {% if user.is_authenticated %}<li class="profile"><a href="#"><img src="{% static 'main/img/NoAvatarImage.svg' %}" class="avatar" alt="Avatar">{{ user.username }}</a></li>
                    {% else %}<li class="btn"><a href="{% url 'login' %}" class="nav-btn">Log in</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
    </div>

    {% block content %}

    {% endblock %}

    <footer>
        <div class="footer-elems container">
            <img src="{% static 'main/img/white_logo.png' %}" alt="" class="logo-footer">
            <div class="links">
                <a href="#"><p>About us</p></a>
                <a href="#"><p>Services</p></a>
                <a href="#"> <p>Use Cases</p></a>
                <a href="#"> <p>Pricing</p></a>
                <a href="#"><p>Blog</p></a>
            </div>
            <div>
                <a href="#"><img src="{% static 'main/img/vk_logo.svg' %}" alt="" class="f-img"></a>
            </div>
        </div>
        <div class="footer-elems container">
            <div class="info">
                <h4>Contact us</h4>
                <p id="f-p2">Email: vladislav.mnac@gmail.com</p>
                <p>Phone: +7-(911)-111-11-11</p>
                <p>Address: Engels avenue, 23</p>
            </div>
            <div class="email">
                <input type="text" placeholder="Inter email">
                <button>Subscribe to news</button>
            </div>
        </div>
        <div class="container">
            <hr>
            <p>© 2025 Positivus. All Rights Reserved.</p>
        </div>
    </footer>

    <script>
        window.addEventListener('scroll', () => {
        document.querySelector('.header1').classList.toggle('header-border', window.scrollY > 50);
        });

        document.querySelector('.menu-btn').
        addEventListener('click', function() {
            const menu = document.querySelector('header nav ul');
            menu.classList.toggle('open');
        });

//        window.addEventListener('scroll', () => {
//        document.querySelector('.header1').classList.toggle('header-scrolled', window.scrollY > 50);
//        });
//
//        window.addEventListener('scroll', () => {
//        document.querySelector('header nav ul').classList.toggle('li-elem-scrolled', window.scrollY > 50);
//        });
//
//        window.addEventListener('scroll', function() {
//        if (pageYOffset > 50) {
//            document.querySelector('header nav ul li.btn a').classList.add('nav-btn-scrolled')
////            document.querySelector('header nav ul').classList.add('li-elem-scrolled')
//        }
//        else {
////            document.querySelector('header nav ul').classList.remove('li-elem-scrolled')
//            document.querySelector('header nav ul li.btn a').classList.remove('nav-btn-scrolled')
//        }
//        })
//
////        window.addEventListener('scroll', function() {
////        if (pageYOffset > 50) {
////            document.querySelector('header nav ul li.btn a').classList.add('nav-btn-scrolled')
////            document.querySelector('header nav ul li.btn a').classList.remove('header nav ul li.btn a')
////            document.querySelector('header nav ul li.btn a').classList.add('nav-btn-scrolled:hover')
////        } else {
////            document.querySelector('header nav ul li.btn a').classList.remove('nav-btn-scrolled')
////        }
////        })
//
//        window.addEventListener('scroll', () => {
//        document.querySelector('header nav ul').classList.toggle('header nav ul', window.scrollY < 50);
//        });
//
//        window.addEventListener('scroll', () => {
//        document.querySelector('.header1').classList.toggle('.header1', window.scrollY < 50);
//        });
    </script>
</body>
</html>