{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Create a vacancy{% endblock %}

{% block content %}
    <div class="wrapper">
        <form method="post" class="news-form">
        {% csrf_token %}
            <div>
                <label for="title">Enter title</label>
                {{ form.title }}
            </div>
            <div>
                <label for="payment">Enter Payment</label>
                {{ form.payment }}
            </div>
            <div>
                <label for="text">Enter description</label>
                {{ form.description }}
            </div>
            <div>
                <label for="tags">Select tags</label>
                {{ form.tags }}
            </div>
            <button class="btn" type="submit">Submit</button>
            <span>{{ error }}</span>
        </form>
    </div>
{% endblock %}
