{% extends 'main/layout.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="inline">
            <h1>These are vacancies we found</h1>
            <span><a href="#" class="a">Create a vacancy</a></span>
        </div>
        <div class="vacancies container">
            {% for el in vacancies %}
            <div class="elem">
                <h3>{{ el.title }}</h3>
                <h3>{{ el.payment }}</h3>
                <h3>{{ el.author.username }}</h3>
                <p>{{ el.description }}</p>
                <h3>{{ el.date }}</h3>
                {% for tag in vacancy.tags.all %}
                <span>{{ tag.title }}</span>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
