{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Log in{% endblock %}
{% block content %}
    <div class="wrapper p-240-login">
        <div class="big-text-login container">
            <h3>Log in</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis id cum in illum consectetur dicta non nobis molestias voluptates iusto earum minus similique cumque facilis, maiores odit totam asperiores eveniet!</p>
        </div>
        <div class="hero--login container">
            <form method="post" class="elem">
                {% csrf_token %}
                <label>Enter username</label>
                {{ form.username }}
                <label>Enter password</label>
                {{ form.password }}
<!--                <textarea placeholder="Email"></textarea>-->
<!--                <textarea placeholder="Password"></textarea>-->
                <button class="btn" autofocus>Log in</button>
                <p>Don't have an account? <span><a href="{% url 'register' %}">Register</a></span></p>
            </form>
            <img src="{% static 'main/img/Illustration-login.svg' %}" alt="">
        </div>
    </div>
{% endblock %}