{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}

    <header class="profile">
        <nav class="profile profile-container">
            <ul>
                <li class="active"><a href="">Account Info</a></li>
                <li><a href="{% url 'user_feedbacks' %}">Your Feedbacks</a></li>
            </ul>
        </nav>
    </header>

    <div class="wrapper" style="min-height: 90vh; padding: 0">
        <div class="profile-container">
            <div class="hero--profile">
                <img src="{{ user.image.url }}" alt="">
                <div class="info">
                    <h1>{{ user.username }}</h1>
                    <div class="inline">
                        <h3>{{ user.first_name }}</h3>
                        <h3>{{ user.last_name }}</h3>
                    </div>
                    <a href="" class="a">Edit profile</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}