{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}

    <header class="profile">
        <nav class="profile profile-container">
            <ul>
                <li class=""><a href="{% url 'profile' %}">Account Info</a></li>
                <li class="active"><a href="">Your Feedbacks</a></li>
            </ul>
        </nav>
    </header>

    <div class="wrapper" style="min-height: 90vh; padding: 0">
        {% if feedback %}
        <div class="feedback container">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h1>Your Feedbacks</h1>
                <a href="{% url 'create_feedback' %}" class="a">Create a feedback</a>
            </div>
        {% for i in feedback %}
            <div class="elem">
                    <div class="inline">
                        <h4>{{ i.author.username }}</h4>
                        <h4 class="date">{{ i.date }}</h4>
                    </div>
                    <a href='{% url "feedback_details" i.id %}'><h3>{{ i.title }}</h3></a>
                    <p>{{ i.full_text }}</p>
                </div>
        {% endfor %}
        {% else %}
        <h2>You have no feedbacks</h2>
        {% endif %}
        </div>
    </div>

{% endblock %}