{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
    {% include 'account/profile_layout.html' %}
    <div class="wrapper" style="min-height: 90vh; padding: 0">
        {% if vacancies %}
        <div class="feedback container">
        <a href="{% url 'vacancy_create' %}" class="a">Create a Vacancy</a>
        {% for vacancy in vacancies %}
            <div class="elem">
                    <div class="inline">
                        <img src="{{ user.image.url }}" alt="" class="user_avatar">
                        <h4>{{ vacancy.author.username }}</h4>
                        <h4 class="date">{{ vacancy.date }}</h4>
                    </div>
                    <a href='{% url "feedback_details" vacancy.id %}'><h3>{{ vacancy.title }}</h3></a>
                    <p>{{ vacancy.description }}</p>
                </div>
        {% endfor %}
        {% else %}
        <h2>You have no vacancies</h2>
        {% endif %}
        </div>
    </div>

{% endblock %}