{% extends 'account/profile_layout.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block page_title %}Your Feedbacks{% endblock %}
{% block content %}

    <div class="wrapper" style="min-height: 90vh; padding: 0">
        {% if feedback %}
        <div class="feedback container">
        <a href="{% url 'create_feedback' %}" class="a">Create a feedback</a>
        {% for i in feedback %}
            <div class="elem">
                    <div class="inline">
                        <img src="{{ user.image.url }}" alt="" class="user_avatar">
                        <h4>{{ i.author.username }}</h4>
                        <h4 class="date">{{ i.date }}</h4>
                    </div>
                    <a href='{% url "feedback_details" i.id %}'><h3>{{ i.title }}</h3></a>
                    <p>{{ i.full_text }}</p>
                </div>
        {% endfor %}
        {% else %}
        <h2>You have no feedbacks</h2>
        {% endif %}
        </div>
    </div>

{% endblock %}