{% extends 'main/layout.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="container"><h1 class="h1" style="text-align: left;">Check the news</h1></div>
        <hr style="margin-top: 20px;">
        {% if news %}
        <div class="news container hero--padding">
            {% for el in news %}
            <div class="elem">
                <div class="inline">
                    <a href="{% url 'news_detail' el.id %}"><h3>{{ el.title }}</h3></a>
                    <h4 class="date">{{ el.date }}</h4>
                </div>
                <p>{{ el.anons }}</p>

            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>You have no notes</p>
        {% endif %}
        {% if user.is_authenticated %}
        <h2 class="h2 h2--feedback">Create the news</h2>
        <form method="post" class="news-form">
            {% csrf_token %}
            <div>
                <label for="title">Enter title</label>
                {{ form.title }}
            </div>
            <div>
                <label for="anons">Enter anons</label>
                {{ form.anons }}
            </div>
            <div>
                <label for="full_text">Enter text</label>
                {{ form.full_text }}
            </div>
            <button class="btn" type="submit">Submit</button>
            <p>{{ error }}</p>
        </form>
        {% endif %}
    </div>

{% endblock %}
