{% extends 'main/layout.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="wrapper">
        <h1 class="h1">Check the news</h1>
        {% if news %}
            <div class="news">
                {% for el in news %}
                <div class="elem">
                    <div class="inline">
                        <a href="{% url 'news_detail' el.id %}" class="a"><h3>{{ el.title }}</h3></a>
                        <p class="date">{{ el.date }}</p>
                    </div>
                    <p>{{ el.anons }}</p>

                </div>
                {% endfor %}
        {% else %}
            <p>You have no notes</p>
            </div>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div class="wrapper">
        <h2 class="h2">Create the news</h2>
        <form method="post" class="news-form">
            {% csrf_token %}
            {{ form.title }}
            {{ form.anons }}
            {{ form.full_text }}
            {{ form.date }}
            <button class="btn" type="submit">Submit</button>
            <p>{{ error }}</p>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}
